<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>867398721294-rdevqnjnoehk8lmugbp0j6c7f0m73l4j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.867398721294-rdevqnjnoehk8lmugbp0j6c7f0m73l4j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>867398721294-2194chkb32191hlu2pbm1ogs3prtdgfq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAneoimY-uIL_UlsCWnSqohieSye4UTvws</string>
	<key>GCM_SENDER_ID</key>
	<string>867398721294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ReduxToolkidTypesc</string>
	<key>PROJECT_ID</key>
	<string>sining-350f3</string>
	<key>STORAGE_BUCKET</key>
	<string>sining-350f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:867398721294:ios:5a983931af92e8023ac15f</string>
</dict>
</plist>